main.admin {
    display: flex;
    height: 100%;
    margin: 260px 20px 20px 20px;

    & form {
        margin: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        width: 400px;
        height: 800px;
        background-color: var(--primary-backgroundColor);

        & input[id="search"] {
            background-color: white;
            margin-bottom: 10px;
            width: 320px;
            border: none;
            outline: none;
            height: 45px;
            padding: 10px;
            border-bottom: 2px solid var(--primary-color);
            color: var(--primary-color);
            border-radius: 8px 8px 0 0;
        }

        & h2 {
            color: var(--primary-color);
        }

        & label {
            color: var(--primary-color);
            align-self: flex-start;
            margin-inline: 50px;
            font-weight: 700;
        }

        & input,
        textarea,
        select,
        button {
            color: var(--primary-color);
            width: 300px;
            height: 35px;
            border: none;
            outline: none;
            resize: none;
            background-color: var(--primary-backgroundColor);
            border-bottom: 3px solid white;
            transition: all 0.2s linear;

            &:focus {
                border-color: var(--primary-color);
            }
        }

        & input:not(input[type="file"]),
        textarea {
            padding: 10px;
            font-size: 18px;
        }

        & textarea {
            height: 80px;
        }

        & button {
            border: none;
            background-color: var(--primary-color);
            color: var(--primary-backgroundColor);
            cursor: pointer;
            transition: all 0.2s linear;
            margin-top: 20px;

            &:hover {
                scale: 1.1;
                color: white;
            }
        }
    }

    .table {
        position: relative;
        overflow: auto;
        min-height: 800px;

        & table,
        th,
        td {
            text-align: center;
            border-collapse: collapse;
            border: 1px solid var(--primary-color);
        }

        & table {
            min-width: 1000px;
            border-collapse: collapse;

            & th {
                color: var(--primary-color);
                width: 200px;
                font-size: 14px;
                padding: 15px;
                background-color: var(--primary-backgroundColor);
                position: sticky;
                top: 0px;
            }

            & td {
                width: 200px;
                padding: 5px;
                overflow: auto;
                color: var(--primary-color);

                & img {
                    width: 90px;
                }

                & button {
                    border: none;
                    background-color: white;
                    color: var(--primary-color);
                    font-size: 22px;
                    margin-inline: 5px;
                    transition: all 0.2s linear;

                    &:hover {
                        color: #87bbeb;
                        scale: 1.2;
                    }
                }
            }

            & td:nth-child(3) {
                width: 900px;
            }
        }
    }

    .form-user {

        & form {
            height: 1200px;
        }
    }
}

.swal2-popup {
    background-color: var(--primary-backgroundColor);
    color: var(--primary-color);
}

div:where(.swal2-container) div:where(.swal2-actions) {
    gap: 20px;
}

.swal2-cancel {
    background-color: var(--primary-color);
    border: none;
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--primary-color);
        scale: 1.1;
    }
}

.swal2-confirm {
    background-color: var(--secondary-color);
    border: none;

    transition: all 0.2s linear;

    &:hover {
        background-color: var(--secondary-color);
        scale: 1.1;
    }
}

@media screen and (max-width: 990px) {

    main.admin {
        flex-direction: column;
        align-items: center;

        & form {
            gap: 10px;
            width: 330px;
            height: 750px;
            margin-right: 0;

            & input[id="search"] {
                width: 300px;
                height: 35px;
            }

            & label {
                margin-inline: 35px;
            }

            & input,
            textarea,
            select,
            button {
                width: 280px;
                height: 30px;
            }

            & input:not(input[type="file"]),
            textarea {
                padding: 10px;
                font-size: 18px;
            }

            & textarea {
                height: 70px;
            }
        }

        .form-user {

            & form {
                height: 1050px;
            }
        }

        .table {
            height: 750px;
        }
    }

}